<div class="container">
  <div class="ui-g">
    <div class="ui-g-4"></div>
    <div class="ui-g-4">
      <h1>Login</h1>
      <form autocomplete="off" (submit)="logar()">
        <div class="ui-g-12 ui-fluid">
          <label>Username</label>
          <input type="text" pInputText name="username" placeholder="example@rmail.com" >
        </div>
        <div class="ui-g-12 ui-fluid">
          <label>Senha</label>
          <input type="text" pInputText name="senha" placeholder="sercret%&@#1234" >
        </div>


        <div class="ui-g-12 ui-fluid">
          <button pButton type="submit" label="Logar" class="ui-button-rounded" ></button>
        </div>
      </form>
    </div>
    <div class="ui-g-4"></div>
</div>
</div>
