.screen {
  width: 100vw;
  height:100vh;
  background-image: url("/assets/skyscraper.jpg");
  background-position: center;
  background-color: #cccccc;
 }

 .login-box{
  border-radius: .8em;
  margin-top: 6vh;
  background-color: rgba(37, 55, 58, 0.637);
  color: white;
 }


@media (max-width: 600px) 
{
  
 .login-box{
  margin-left: 5vw;
  margin-right: 5vw;
 }
}


.login{
  text-align: center;
  margin: auto;
}
