.screen {
  width: 100vw;
  height:100vh;
  background-image: url("/assets/skyscraper.jpg");
  background-position: center;
  background-color: #cccccc;
 }

 .login-box{
  border-radius: .8em;
  margin-top: 10vh;
  background-color: rgba(204, 247, 255, 0.4);
 }

.login{
  text-align: center;
  margin: auto;
}
