<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Lançamentos</h1>
    </div>
    <form autocomplete="off" (submit)="pesquisar()">
      <div class="ui-g-12 ui-fluid">
        <label>Descrição</label>
        <input type="text" pInputText name="descricao" [(ngModel)]="filtro.descricao">
      </div>

      <div class="ui-g-12 ui-fluid ">
        <label style="display: block;"> Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width:'95px' }" name="vancimentoInicio"
          [(ngModel)]="filtro.dataVencimentoInicio"></p-calendar>

        <label>Até</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width:'95px' }" name="vancimentoFim"
          [(ngModel)]="filtro.dataVencimentoFim"></p-calendar>

      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="lancamentos" [paginator]="true" emptyMessage="Nenhum lançamento encontrado"
        [rows]="filtro.itensPorPagina" [responsive]="true" [lazy]="true" [totalRecords]="totalRegistros"
        (onLazyLoad)="aoMudarPagina($event)" #tabela>

        <ng-template pTemplate="header">
          <tr>
            <th>Pessoa</th>
            <th>Descricao</th>
            <th class="col-data-header">Vencimento</th>
            <th class="col-data-header">Pagamento</th>
            <th class="col-valor-header"> Valor</th>
            <th class="col-valor-header"> Ações</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-lancamento>
          <tr>
            <td>
              <span class="ui-column-title">Pessoa</span>
              {{lancamento.pessoa}}
            </td>

            <td>
              <span class="ui-column-title">Descrição</span>
              {{lancamento.descricao}}
            </td>

            <td [ngClass]="{'col-data': true}">
              <span class="ui-column-title">Vencimento</span>
              {{lancamento.dataVencimento | date:"MM/dd/y" }}
            </td>

            <td class="col-data">
              <span class="ui-column-title">Pagamento</span>
              {{lancamento.dataPagamento | date:"MM/dd/y" }}
            </td>

            <td class="col-valor">
              <span class="ui-column-title">Valor</span>
              <span class="values " [style.color]="lancamento.tipo === 'DESPESA' ? 'red' : 'blue'">
                {{lancamento.valor | currency:'BRL'}}
              </span>
            </td>


            <td class="col-acoes">

                <a class="but-action" pButton icon="pi pi-pencil" pTooltip="Editar"
                  tooltipPosition="bottom"></a>

                <button pButton icon="pi pi-trash" pTooltip="Apagar" tooltipPosition="bottom"
                  (click)="excluir(lancamento)"></button>
            </td>


          </tr>
        </ng-template>
      </p-table>

    </div>
  </div>

  <div class="ui-g-12">
    <a pButton label="Novo lançamento"></a>
  </div>

</div>
