<div class="container">

  <form autocomplete="off"  (ngSubmit)="salvar()" [formGroup]="formulario" >
    <!--f va representar uma instância do formulário -->
    <div class="ui-g">
      <div class="ui-g-12">
        <h1> {{ editando ? 'Editando ' : 'Novo ' }} Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton [options]="tipos" name='tipo'
        formControlName="tipo"
        ></p-selectButton>
                <!--
                  p-selectButton -> componente do primeNG
                  options -> propriedade
                  [options] -> propertie binding
                  tipos -> propriedade do componente lancamento-cadastro compatível com a propriedade options
                -->
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid" >
        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [inline]="false"
         [readonlyInput]="false" [showIcon]="true"
         formControlName="dataVencimento" name="dataV"
         ></p-calendar>
        <!-- pInputText serve para que aquele input se tone um input do primeNG-->
        <app-message [control]="formulario.get('dataVencimento')" error="required"
          text="Informe uma data de vencimento"></app-message>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid" >
        <label>{{formulario.get('tipo').value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy" [inline]="false"
        [readonlyInput]="false" [showIcon]="true"
        formControlName="dataPagamento" name="dataP"
        ></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid" >
        <label>Descrição </label>
        <input pInputText type="text" name="descricao"
        formControlName="descricao"
        >
        <!--As divs abaixo só irão aparecer se a condição para tal for satisfeita-->
        <app-message [control]="formulario.get('descricao')" error="obrigatoriedade"
          text="Informe a descrição"></app-message>
        <app-message [control]="formulario.get('descricao')" error="tamanhoMinimo"
          text="Mínimo de {{ formulario.get('descricao').errors?.tamanhoMinimo?.tamanho }} caracteres">
        </app-message>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid" >
        <label>Valor</label>
        <input currencyMask name="valor" pInputText placeholder="0,00"
        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative:false}"
        formControlName="valor"
        />
        <!--Diretiva currency mask para tratar dados monetários-->
        <!--Toda vez que adicionamos o ngModel é obrigatório colocar também o atributo HTML name=""-->
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="categoria" >
        <label>Categoria</label>
        <p-dropdown [options]="categorias" placeholder="Selecione" name="categoria"
        formControlName="codigo"
        ></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="pessoa" >
        <label>Pessoa</label>
        <p-dropdown [options]="pessoas" [filter]="true"
        placeholder="Selecione" name="pessoa"
        formControlName="codigo" ></p-dropdown>
      </div>

      <div class="ui-g-12 ui-fluid" >
        <label>Observação</label>
        <textarea pInputTextarea type="text" name="observacao"
        formControlName="observacao" autoResize="autoResize"
        ></textarea>
      </div>

      <div class="ui-g-12 " >
        <button class="but-cad" pButton type="submit" label="Salvar"></button>
        <button (click)="novo()"  class="but-cad" pButton type="button" label="Novo" class="ui-button-info"></button>
        <a class="but-cad" routerLink="/lancamentos"> Voltar para a pesquisa </a>
      </div>

    </div>
  </form>
</div>
