<div class="container">

  <form autocomplete="off">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton [options]="tipos" #tipo ></p-selectButton>
      <!--
        p-selectButton -> componente do primeNG
        options -> propriedade
        [options] -> propertie binding
        tipos -> propriedade do componente lancamento-cadastro compatível com a propriedade options
      -->
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid" >
        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" [showIcon]="true" ></p-calendar>
        <!-- pInputText serve para que aquele input se tone um input do primeNG-->
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid" >
        <label>{{tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" [showIcon]="true" ></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid" >
        <label>Descrição {{ descricao.errors | json }}</label>
        <input pInputText type="text" name="descricao" ngModel #descricao="ngModel" required minlength="5">
        <!--As divs abaixo só irão aparecer se a condição para tal for satisfeita-->
        <app-message [control]="descricao" error="required" text="Informe uma descrição."></app-message>
        <app-message [control]="descricao" error="minlength" text="Mínimo de {{descricao.errors?.minlength?.requiredLength}} caracteres. Você escreveu apenas {{descricao.errors?.minlength?.actualLength}}"></app-message>

      </div>
      <!--Quando adicionamos a diretiva ngModelo angular passa a enxergar o input,
      passa a entender que aquele input é algo que ele tem que gerenciar

      a variável descricao recebe o valor capturado pelo ngModel, asseim, teremos acesso
      ao conteúdo que o ngModel captura
      -->

      <div class="ui-g-6 ui-md-3 ui-fluid" >
        <label>Valor</label>
        <input currencyMask name="valor" pInputText placeholder="0,00" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative:false}" ngModel />
        <!--Diretiva currency mask para tratar dados monetários-->
        <!--Toda vez que adicionamos o ngModel é obrigatório colocar também o atributo HTML name=""-->
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid" >
        <label>Categoria</label>
        <p-dropdown [options]="categorias" placeholder="Selecione" #categoria></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" >
        <label>Pessoa</label>
        <p-dropdown [options]="pessoas" [filter]="true" placeholder="Selecione" #pessoa></p-dropdown>
      </div>

      <div class="ui-g-12 ui-fluid" >
        <label>Observação</label>
        <textarea pInputTextarea type="text"></textarea>
      </div>

      <div class="ui-g-12 " >
        <button class="but-cad" pButton type="submit" label="Salvar"></button>
        <button class="but-cad" pButton type="button" label="Novo" class="ui-button-info"></button>
        <a class="but-cad" href="javascript:;">Voltar para a pesquisa</a>
      </div>

    </div>
  </form>
</div>
